<?xml version="1.0" ?>

<launch>

  <arg name="screen_width" default="1.23" />
  <arg name="screen_height" default="0.69" />
  <arg name="lidar_offset" default="0.09" />



	<arg default="$(find touch)/urdf/touch.urdf" name="model"/>
	<arg default="false" name="gui"/>
	<arg default="$(find touch)/rviz/display.rviz" name="rvizconfig"/>
  <arg name="screen_width_centre" default="$(eval arg('screen_width')/2.000)" />
  <arg name="screen_height_centre" default="$(eval arg('screen_height')/2.000)" />
  <arg name="screen_width_inverse" default="$(eval arg('screen_width')*-1.000)" />
  <arg name="lidar_offset_inverse" default="$(eval arg('lidar_offset')*-1.000)" />

	<param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz" output="screen"/>

<node name="ydlidar_node" pkg="ydlidar_ros" type="ydlidar_node" output="screen" respawn="false">
<param name="port" type="string" value="/dev/ttyUSB0"/>
<param name="baudrate" type="int" value="115200"/>
<param name="frame_id" type="string" value="lidar1"/>
<param name="resolution_fixed" type="bool" value="true"/>
<param name="auto_reconnect" type="bool" value="true"/>
<param name="reversion" type="bool" value="false"/>
<param name="angle_min" type="double" value="-180"/>
<param name="angle_max" type="double" value="180"/>
<param name="range_min" type="double" value="0.1"/>
<param name="range_max" type="double" value="12.0"/>
<param name="ignore_array" type="string" value=""/>
<param name="samp_rate" type="int" value="3"/>
<param name="frequency" type="double" value="8"/>
<param name="isSingleChannel" type="bool" value="true"/>
</node>


	<group ns="camera1">

  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster"
      args="$(arg screen_width_centre) $(arg screen_height_centre) $(arg screen_width_inverse) 0 0 0 world camera1 10" />

  <node pkg="tf" type="static_transform_publisher" name="lidar_broadcaster"
      args="$(arg screen_width_centre) $(arg lidar_offset_inverse) 0.1 1.571 0 3.1415 world lidar1 10" />

  <node name="camera_info" pkg="rostopic" type="rostopic"
      args="pub camera_info sensor_msgs/CameraInfo
     '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'camera1'},
      height: 480, width: 640, distortion_model: 'plumb_bob',
      D: [0],
      K: [500.0, 0.0, 320, 0.0, 500.0, 240.0, 0.0, 0.0, 1.0],
      R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
      P: [500.0, 0.0, 320, 0.0, 0.0, 500, 240, 0.0, 0.0, 0.0, 1.0, 0.0],
      binning_x: 0, binning_y: 0,
      roi: {x_offset: 0, y_offset: 0, height: 480, width: 640, do_rectify: false}}' -r 2"
      output="screen"/>
</group>

 <group ns="rviz1/camera1/image">
  <rosparam param="disable_pub_plugins">
    - 'image_transport/compressed'
    - 'image_transport/compressedDepth'
    - 'image_transport/theora'
  </rosparam>
  </group>

  <node pkg="touch" type="create_rectangle" name="create_rectangle" output="screen">
        <param name="pose_x" value="$(arg screen_width)"/>
        <param name="pose_y" value="$(arg screen_height)"/>
    </node>

</launch>
